<div ng-controller="animalsListCtrl">
  <div class="h3">Animals {{animals.length}}</div>
  <button class="btn btn-success"><a href="#/animal-edit">Create</a></button>
  <div class="animals-list">
    <table class="table table-hover">
      <tr>
        <th width="20px">ID</th>
        <th>Name</th>
        <th colspan="2">Options</th>
      </tr>
      <tr ng-repeat="animal in animals | filter:{name:nameFilter}">
        <td>{{animals.length - $index}}</td>
        <td>{{animal.name}}</td>
        <td><a>edit</a></td>
        <td><a class="delete">del</a></td>
      </tr>
    </table>
  </div>
  <div class="filter">
    <div class="h4">Filter</div>
    <input type="text" class="form-control" placeholder="Name" ng-model="nameFilter">
    <!--<button class="btn btn-primary">Filter</button>-->
    <!--<button class="btn btn-default" disabled>Reset</button>-->
  </div>
</div>