

/*  Header  
==============================================*/

header * {
    display: inline-block;
}

.main-header {
    height: 70px;    
    margin-bottom: 20px;
    padding: 17px 35px 13px;
    border-bottom: 2px solid #ececec;
 }
 

.search-big {
    width: 50%;
}
.search-big .btn {
    width: 60px;
    height: 34px;
    border-radius: 2px;
    background: #4cd964;
}
.search-big .btn:active {
    background-color: #57C469;
}
.search-big .btn:hover {
    box-shadow: 0 0 15px rgba(0,0,0,0.2) inset;
}

.search-min {
    display: none;
}

.menu {
    display: none;
}


.logo {
    float: left;
    width: 225px;
    height: 35px;
    padding: 7px;    
    margin-right: 5px; 
    cursor: pointer;
}


.login {
    display: inline-block;
    float: right;
    padding: 6px;    
    color: #999;
    cursor: pointer;
    
    transition: color 0.3s;
}
.login:hover {
    color: #333;
}

@media (max-width: 768px) {
  .main-header {
    height: 52px;    
    padding: 15px 20px;
  }
  
  .logo {
      float: none;
      display: block;
      margin: -8px auto;
  }
  
  .search-big {
      display: none;
  }
  
  .search-min,
  .menu {
      display: block;
      float: right;
      font-size: 20px;
      margin: -20px 0px;
      color: #555;
      cursor: pointer;
      
      transition: color 0.2s;
  }
  
  .menu {
      float: left;
  }
  
  .search-min:hover,
  .menu:hover {
      color: #000;
  }
  
  
  
  .login {
      display: none;
  }
}

@media (max-width: 366px) {
}



/*  Content  
==============================================*/
.container {
    width: 600px;
}

.h1 {
    font-size: 48px;
    font-weight: bold;
    margin: 20px 0;
}

p {
    letter-spacing: 1.5px;
    color: #606060;
    margin-bottom: 30px;
}

.photo-caption {
    position: relative;
    max-height: 564px;
    overflow: hidden;
}

.photo-caption img {
    width: 100%;
}

.caption {
    display: block;
    position: absolute;
    z-index: 1;
    bottom: 0px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 35px;
    line-height: 40px;
    color: #fff;
}

.main-article .content .footer {
    padding-top: 25px;
}

.main-article .content .footer p {
    font-size: 0.9em;
    color: #222;
}

.main-article .footer p a{
    margin-top: 10px;
    display: inline-block;
}

a {
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

/*  Also-viewed  
==============================================*/


.also-viewed {
    margin: 0 auto;
    width: 890px;
    min-height: 340px;
    margin-bottom: 400px;
}

.also-viewed .h4 {
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
}

.also-viewed .photo {
    position: relative;
    display: inline-block;
    width: 205px;
    height: 160px;    
    margin: 18px 18px 0 0;
    overflow: hidden;
    
}
.also-viewed .photo:nth-child(4n+5) {  
    margin-right: 0;
}
.also-viewed .photo img {
    height: 100%;
}
.also-viewed .photo p {
    display: block;
    position: absolute;
    color: #fff;
    bottom: -20px;
    left: 15px;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 0.5px;
}
.also-viewed .photo .numb-photos {
    display: block;
    font-size: 12px;
}

/*  Banners  
==============================================*/

.banner {
    width: 728px;
    height: 90px;
    margin: 20px auto;
    border: 2px solid #eee;
}


/*  Navs  
==============================================*/
/*
.main-nav {
  min-height: 500px;
  max-width: 210px;
  margin-left: 45px;
  border: 2px dashed #ccc;
}

.main-nav ul {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  list-style: none;
}

.main-nav .list > .h5 {
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 5px;
  padding-bottom: 10px;
  text-align: left;
  font-weight: bold;
  font-size: 12px;
  border-bottom:2px solid #ececec;
}

.list a {
  font-size: 15px;
  color: #393939;
}

.items {
  height: 90px;
  overflow: auto;
  border: 1px dotted #ccc;
  margin-top: 10px;
}

li.show-down {
  height: 20px;  
  overflow: hidden;
  transition: all 0.5s;
}

li.show-down > a > i {
  display: inline-block;
  float: right;
  font-size: 9px;
  padding-top: 6px;
}

li.show-down > a {
  display: block;
}*/

